<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <title>포트폴리오 상세보기</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['ko']);
            $( "#startDate" ).datepicker({
                changeMonth: true,
                changeYear: true,
                nextText: '다음 달',
                prevText: '이전 달',
                dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                dateFormat: "yy-mm-dd",
                maxDate: 0,                       // 선택할수있는 최소날짜, ( 0 : 오늘 이후 날짜 선택 불가)
                onClose: function( selectedDate ) {
                    //시작일(startDate) datepicker가 닫힐때
                    //종료일(endDate)의 선택할수있는 최소 날짜(minDate)를 선택한 시작일로 지정
                    $("#endDate").datepicker( "option", "minDate", selectedDate );
                }

            });
            $( "#endDate" ).datepicker({
                changeMonth: true,
                changeYear: true,
                nextText: '다음 달',
                prevText: '이전 달',
                dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
                monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
                dateFormat: "yy-mm-dd",
                maxDate: 365,                       // 선택할수있는 최대날짜, ( 0 : 오늘 이후 날짜 선택 불가)
                onClose: function( selectedDate ) {
                    // 종료일(endDate) datepicker가 닫힐때
                    // 시작일(startDate)의 선택할수있는 최대 날짜(maxDate)를 선택한 시작일로 지정
                    $("#startDate").datepicker( "option", "maxDate", selectedDate );
                }

            });
        });
    </script>
</head>
<body>
<div th:include="topToolBar.html" ></div>
<form th:action="@{/port/updatePort}" method="post">
    <input type="hidden" id="portNo" name="portNo" th:value="${portfolio.getPortNo()}"/>
    제목 : <input type="text" name="portTitle" th:value="${portfolio.portTitle}"></br>
    인원 수 : <input type="text" name="portMemberCnt" th:value="${portfolio.portMemberCnt}"></br>
    <!--<input type="text" name="portDescription">-->
    프로젝트 시작일 : <input id="startDate" type="text" name="portProjectStartDate" th:value="${#dates.format(portfolio.portProjectStartDate, 'yyyy-MM-dd')}" autocomplete="off"></br>
    프로젝트 종료일 : <input id="endDate" type="text" name="portProjectEndDate" th:value="${#dates.format(portfolio.portProjectEndDate, 'yyyy-MM-dd')}" autocomplete="off"></br>
    설명 : <input type="text" name="portDescription" th:value="${portfolio.portDescription}"></br>
    해시태그 : <input type="text" name="portSkillTag" th:value="${portfolio.portSkillTag}">
    첨부파일 : <input type="file" class="custom-input" name="file" id="file-upload" multiple="multiple">

    <input type="submit" value="확인">
</form>
</body>